@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #293845;
}

button {
  border: none;
  color: white;
  background-color: #d2465b;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s;
}
